#title,#subtitle,#buttonarea,#results {
    display: flex;
    justify-content: center;
}
#subtitle {
    font-size: 20px;
}
#start {
    width: 200px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 25px;
}
#start:hover {
    background-color: red;
    box-shadow: 0 0 10px gray;
}
#start:active {
    background-color: darkred;
    box-shadow: 0 0 10px gray;
}
#results {
    margin-top: 50px;
}
.count {
    width: 70px;
    text-align: end;
}